{% extends "emails/base.html" %}
{% block preheader %}{% if locale == "tr" %}Yeni şifre belirlemek için bağlantı.{% else %}Your link to choose a new password.{% endif %}{% endblock %}
{% block eyebrow %}{% if locale == "tr" %}Hesap{% else %}Account{% endif %}{% endblock %}
{% block heading %}{% if locale == "tr" %}Şifreni sıfırla.{% else %}Reset your password.{% endif %}{% endblock %}
{% block content %}
<p style="margin:0;">{% if locale == "tr" %}Hesabın için şifre sıfırlama isteği aldık. Yeni şifre belirlemek için aşağıdaki butonu kullan.{% else %}We received a request to reset your password. Use the button below to choose a new one.{% endif %}</p>
{% endblock %}
{% block cta_wrap %}{% with cta_url=password_reset_url %}{% if locale == "tr" %}{% with cta_label="Yeni şifre belirle" %}{{ block.super }}{% endwith %}{% else %}{% with cta_label="Choose a new password" %}{{ block.super }}{% endwith %}{% endif %}{% endwith %}{% endblock %}
{% block footer %}{% if locale == "tr" %}Bu isteği sen yapmadıysan e-postayı yok sayabilirsin; şifren değişmez.{% else %}If you didn't request this, ignore this email and your password stays the same.{% endif %}{% endblock %}
