{% extends "emails/base.html" %}
{% block preheader %}{% if locale == "tr" %}{{ reservation.session_date|date:"d.m.Y" }} {{ reservation.start_time|time:"H:i" }} seansın onaylandı.{% else %}Your session on {{ reservation.session_date|date:"M j, Y" }} at {{ reservation.start_time|time:"H:i" }} is confirmed.{% endif %}{% endblock %}
{% block eyebrow %}{% if locale == "tr" %}Rezervasyon #{{ reservation.code }}{% else %}Booking #{{ reservation.code }}{% endif %}{% endblock %}
{% block heading %}{% if locale == "tr" %}Seansın onaylandı, {{ reservation.customer_name }}.{% else %}You're booked in, {{ reservation.customer_name }}.{% endif %}{% endblock %}
{% block content %}
<p style="margin:0;">{% if locale == "tr" %}Stüdyoda görüşmek üzere. Takvim dosyası ekte.{% else %}See you at the studio. A calendar file is attached.{% endif %}</p>
<table role="presentation" width="100%" cellpadding="0" cellspacing="0" border="0" style="margin:20px 0 0;border-collapse:collapse;">
  {% if locale == "tr" %}
  {% include "emails/_row.html" with label="Hizmet" value=service_label %}
  {% include "emails/_row.html" with label="Tarih" value=reservation.session_date|date:"d.m.Y" %}
  {% with start=reservation.start_time|time:"H:i" end=reservation.end_time|time:"H:i" %}{% with when=start|add:" – "|add:end %}{% include "emails/_row.html" with label="Saat" value=when %}{% endwith %}{% endwith %}
  {% include "emails/_row.html" with label="Süre" value=reservation.duration_hours|stringformat:"d"|add:" saat" %}
  {% else %}
  {% include "emails/_row.html" with label="Service" value=service_label %}
  {% include "emails/_row.html" with label="Date" value=reservation.session_date|date:"M j, Y" %}
  {% with start=reservation.start_time|time:"H:i" end=reservation.end_time|time:"H:i" %}{% with when=start|add:" – "|add:end %}{% include "emails/_row.html" with label="Time" value=when %}{% endwith %}{% endwith %}
  {% include "emails/_row.html" with label="Duration" value=reservation.duration_hours|stringformat:"d"|add:" h" %}
  {% endif %}
</table>
{% endblock %}
{% block footer %}{% if locale == "tr" %}Değişiklik gerekirse bu e-postayı yanıtla.{% else %}Need to change something? Just reply to this email.{% endif %}{% endblock %}
